* {
  box-sizing: border-box;
}
.App {
  text-align: left;
}

a {
  color: black;
}

body {
  background-color: rgb(183, 193, 202);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.appViews {
  margin: 5px;
}